
/* body
{
background-image: url("https://img.freepik.com/free-photo/side-view-penne-pasta-with-tomato-sauce-greens-plate_141793-5043.jpg?t=st=1732546085~exp=1732549685~hmac=94aaac9246e7ce26bb0ae9de8a5e5f1b353736832ac6f807603faddef167e15e&w=900");
} */

#para
{
    color: red;  
    font-size: 40px;
}

